/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 600px;
}

.output-section {
    width: 500px;
    font-family: fantasy;
    border: thin solid gray;
    padding: 5em;
    margin: 4em;
    box-shadow: 5px 2px 5px skyblue;
    background: #facade;
}